#App {
    border-left: solid 2px black;
    border-right: solid 2px black;
    overflow: hidden;
}

.view-container {
    max-width: 1080px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}