body {
    background: #fff;
    color: rgb(19, 19, 19);
    font-family: 'Roboto', sans-serif;
}

#App {
  justify-content: center;
  align-items: center;

}

.image {
  object-fit: cover;
  max-height: 200px;
}

#root{
  width: 100%;
}

/* adjust bootstrap containers and col's to page design */
div[class^="container"], a[class*=' container'] {
  padding: 0 !important;
  margin: 0 !important;
}

div[class^="col"], a[class*=' col'] {
  padding: 0 !important;
  margin: 0 !important;
}

.show{
  display: block !important;
}