
.infoElement {
  display: flex;
  justify-content: center;
  align-items: center;
}

.imageContainer {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
  align-items: center !important;
  position: relative;
  overflow: hidden;
}

.infoText {
  font-family: 'Roboto', sans-serif, monospace;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
