
.infoContainer {
  margin: 0 !important;
}

.infoElement {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5vw;
}

.imageContainer {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.infoText {
  font-family: monospace;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
