div[class^="infoBoard"], div[class*=' infoBoard'] {

}

.infoContainer {
  margin: 0 !important;
}

.infoElement {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3vw;
}

.infoText {
  font-family: monospace;
}
